<!DOCTYPE html>
<html>
<head>
  
<title>Jelson &mdash; Portfolios</title>

 @*/**************Style Sheet CSS*************/*@
 <link href="@Url.Content("~/Content/variant-light.css")" rel="stylesheet" type="text/css" />
 <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
@*/**************Scripts*************/*@
<script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>

<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="Stylesheet" type="text/css" />

 <script src="@Url.Content("~/Scripts/jquery-ui-1.8.13.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>

 @*/**************Portfolio*************/*@

<script src="@Url.Content("~/Scripts/framework.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/jquery.js")" type="text/javascript"></script>


 @*/**************Skills*************/*@

<script src="@Url.Content("~/js/raphael.js")" type="text/javascript"></script>

<script src="@Url.Content("~/js/init.js")" type="text/javascript"></script>

<script src="@Url.Content("~/js/jquery.js")" type="text/javascript"></script>


@*/**************Circlemouse*************/*@
<script src="@Url.Content("~/js/modernizr.custom.72835.js")" type="text/javascript"></script>

@Html.Partial("_AllScripts", false)



@*/**************Zoom*************/*@
<script src="@Url.Content("~/js/script.js")" type="text/javascript"></script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/mootools/1.2.4/mootools-yui-compressed.js"></script>

<script src="@Url.Content("~/js/picbox.js")" type="text/javascript"></script>



</head>

<body>

<div id="header">
	<div id="title">

<h1><a href="../Home/index">Portfolio</a></h1>



<span class="Translate" style="margin-top:-1px !important;">

<span><div id="google_translate_element"></div><script>
                                                   function googleTranslateElementInit() {
                                                       new google.translate.TranslateElement({
                                                           pageLanguage: 'en',
                                                           layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL
                                                       }, 'google_translate_element');
                                                   }
</script><script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script></span>

 </span>



 <h1 class="slogan">Jelson. J</h1>

</div>
</div>

<div id="topmenu"><p>
<strong class="hide">Main menu:</strong>

@Html.ActionLink("Home", "Index", "Home")

@Html.ActionLink("About Me", "About", "Home")

@Html.ActionLink("My Portfolio", "portfolio", "Home")

@Html.ActionLink("Services", "Services", "Service")

@Html.ActionLink("Contact Me", "Create", "Contact")
 
</p>

</div>


<!-- *** START RenderBody *** -->		
<div id="mdcolumn">
<br />
@RenderBody()
</div>

<div id="footer">
<p>Copyright @DateTime.Now.Year &copy; <a href="../Home/index">Jelson</a> | All Rights Reserved. @*<a href="http://entelope.com/">Jelson J</a>*@</p>
</div>



</body><!-- InstanceEnd -->
</html>