@{
    ViewBag.Title = "Services";
}

<div id="wrap">		
	
<div id="sidebar">


<img src="@Url.Content("~/Content/images/to-html5.jpg")" width="300" height="600" alt="pat" />
		
<br /><br />
<h2>Freelance</h2>

<br /><br />

<img src="@Url.Content("~/Content/images/html5_.png")" width="300" height="600" alt="pat" />
 
    
</div>

<img class="headerimage" src="@Url.Content("~/Content/images/bunner.gif")" alt="" width="890" height="200"/>	



<div id="content">

<div class="post">
   
   <div id="letter"></div>
    
    <img id="inkwell1" src="@Url.Content("~/Content/photo/inkwell1.gif")" alt="inkwell1" />
    
    <img id="inkwell2" src="@Url.Content("~/Content/photo/inkwell2.gif")" alt="inkwell2" />

    <div id="letter_src">


<img class="intro" src="@Url.Content("~/Content/images/icon-9.png")" alt=""/>
<h2>Services</h2>

<span>Having good skills in design & development I can provide a number of 
different services to my customers. I hope my freelance web design & development 
services can help anyone</span>

<br /><br />
<img class="intro" src="@Url.Content("~/Content/images/icon-3.png")" alt=""/>
<h2>Front-end developer</h2>
<span>My introduction to HTML and others sources was in 2008 so I have had plenty of experience 
building websites for my clients. I can code my own designs and using the latest 
technologies..</span>

<br /><br />

<img class="intro" src="@Url.Content("~/Content/images/icon-5.png")" alt=""/>

<h2>Testing</h2>

<span>Testing is indispensable part of any project. There are multiple browsers,
platforms and configurations to provide for when creating a website, and it is 
important to simulate as many as possible during the testing stage to avoid 
compatibility issues from your users.</span>

<br /><br />
<img class="intro" src="@Url.Content("~/Content/images/icon-8.png")" alt=""/>
<h2>Web design</h2>

<span>Website design also involves information architecture, website structure, 
user interface, navigation ergonomics, website layout, colors, contrasts, and fonts.</span>

<br /><br />
<img class="intro" src="@Url.Content("~/Content/images/icon-1.png")" alt=""/>
<h2>Web development</h2>

<span>I can provide a diversity of web development services for my clients. Depending 
what they looking for, I can code your project, modify open source solutions or 
help integrate a commercial application that will best fit your website.
</span>

<br /><br />

<img class="intro" src="@Url.Content("~/Content/images/icon-6.png")" alt=""/>
<h2>Logo design</h2>

<span>Every business needs a consistent trade name to communicate the right message to 
the customers. I can provide guiding principle with this and ensure guidelines are kept 
across the different avenues of marketing available.</span>

<br /><br />

<img class="intro" src="@Url.Content("~/Content/images/icon-4.png")" alt=""/>
<h2>Flyer design</h2>

<span>All business needs a consistent trade name to communicate the right message to 
the clients.</span>


</div>
</div>
</div>	

<p id="back-top">
<a href="#top"><span></span>Back to Top</a>
</p>

</div>


