@{
    ViewBag.Title = "Cristovao";
}


<div id="wrap">	

<h1 class="flayer">Role: Web Design</h1>

<div id="content">

<div class="post">

<div class="postintro">Oct 10<br />2013</div>

<h2>Cristovao And Son Boutique Ldt</h2>

<br /><br />
           	
<a href="@Url.Content("~/Content/images/bunner20.jpg")" rel="lightbox" title="Double click for full size... (unless you have a large monitor)"><img class="headerimage1" src="@Url.Content("~/Content/images/bunner20.jpg")" alt="" width="731" height="450"  /></a>

<div id="sidebar1">
	
<strong>Completed:  November 2013</strong> 
            
<strong>Description:</strong>
<span>This project was developed for my brother.</span>
 <br /> <br />        
<strong>Skills used:</strong>

<span>HTML5, CSS, JQUERY, JAVASCRIPT, PHOTOSHOP & FIREWORK</span>
    
  <br /> <br /> 	
<h2>Click the Link to:</h2>
	
<ul class="link"> 
			
<li><a href="http://entelope.com/Cristovao" target="_blank">Visit Website</a> </li>

</ul>	
</div>
<p>Click the picture for full size.</p>
<br /><br />

<h2>Related Portfolio</h2>

<div class="container">

	<div class="homeBox">

			<div class="one_fourth">

				<a href="../Home/Adoptdog"><div class = "boxImage"><img src ="@Url.Content("~/Content/images/bunner18.jpg")" alt="" width="210" height="150" /></div>	

				<h2>Adopt a dog</h2>	</a>		

				<div class = "boxDescription">Adopt a dog</div>	

			</div>

			<div class="one_fourth">

				<a href="../Home/Nasa"><div class = "boxImage"><img src ="@Url.Content("~/Content/images/bunner3.jpg")" alt="" width="210" height="150" /></div>	

				<h2>Nasa</h2></a>	

				<div class = "boxDescription">Nasa</div>				

			</div>


			<div class="one_fourth last">

				<a href="../Home/Shuddersfield"><div class = "boxImage"><img src ="@Url.Content("~/Content/images/browser-1.png")" alt="" width="210" height="150" /></div>	

				<h2>Shuddersfield</h2></a>	

				<div class = "boxDescription">Shuddersfield</div>			

		</div>	

        </div>
	</div>
    </div>

<p id="back-top">
<a href="#top"><span></span>Back to Top</a>

</div>
</div>


