@{
    ViewBag.Title = "DogRescue";
}

<div id="wrap">	

<h1 class="flayer">Role: Web Design</h1>

<div id="content">

<div class="post">

<div class="postintro">Mar 15<br />2009</div>

<h2>Dog Rescue Shelter</h2>

<br /><br />
           
<a href="@Url.Content("~/Content/images/bunner2.jpg")" rel="lightbox" title="Double click for full size... (unless you have a large monitor)"><img class="headerimage1" src="@Url.Content("~/Content/images/bunner2.jpg")" alt="" /></a>

<div id="sidebar1">
	
<strong>Completed:  Aril 2009</strong> 
  <br />           
<strong>Description:</strong>
<span>This project was developed during my first year at 
university.</span>
 <br /> <br />        
<strong>Skills used:</strong>

<span>XHTML, CSS, JAVASCRIPT, PHOTOSHOP & FIREWORK</span>
    
  <br /> <br /> 	
<h2>Click the Link to:</h2>
	
<ul class="link"> 
			
<li><a href="http://entelope.com/DogRescueShelters/" target="_blank">Visit Website</a> </li>

</ul>	
</div>
<p>Click the picture for full size.</p>
<br /><br />

<h2>Related Portfolio</h2>

<div class="container">

	<div class="homeBox">

			<div class="one_fourth">

				<a href="../Home/University"><div class = "boxImage"><img src ="@Url.Content("~/Content/images/bunner6.jpg")" alt="" width="210" height="150" /></div>	

				<h2>University</h2>	</a>		

				<div class = "boxDescription">University</div>	

			</div>

			<div class="one_fourth">

				<a href="../Home/Cristovao"><div class = "boxImage"><img src ="@Url.Content("~/Content/images/bunner20.jpg")" alt="" width="210" height="150" /></div>	

				<h2>Cristovao</h2></a>	

				<div class = "boxDescription">Cristovao</div>				

			</div>


			<div class="one_fourth last">

				<a href="../Home/Entelope"><div class = "boxImage"><img src ="@Url.Content("~/Content/images/bunner4.png")" alt="" width="210" height="150" /></div>	

				<h2>Antelope</h2></a>	

				<div class = "boxDescription">Antelope</div>			

		</div>	

        </div>
	</div>
    </div>

<p id="back-top">
<a href="#top"><span></span>Back to Top</a>

</div>
</div>

           
        

           
