@{
    ViewBag.Title = "Entelope";
}

<div id="wrap">	

<h1 class="flayer">Role: Detabase Website</h1>

<div id="content">

<div class="post">

<div class="postintro">Feb 12<br />2012</div>

<h2>Search Engine Antelope</h2>

<br /><br />
           	
<a href="@Url.Content("~/Content/images/bunner4.png")" rel="lightbox" title="Double click for full size... (unless you have a large monitor)"><img class="headerimage1" src="@Url.Content("~/Content/images/bunner4.png")" alt="" /></a>

@*<span>click on the image for full size</span>*@

<div id="sidebar1">
	
<strong>Ongoing 2014</strong> 
 <br />            
<strong>Description:</strong>
<span>This project still in development process 
and requires simple information’s to be completed.
</span>
 <br /> <br />        
<strong>Skills used:</strong>

<span>HTML5, CSS, JQUERY, AJAX, C#, MVC3, ASP.NET, SQL SERVER 2008, 2008R2, PHOTOSHOP & FIREWORK</span>
    
  <br /> <br />
   	
<h2>Click the Link to:</h2>
	
<ul class="link"> 
			
<li><a href="http://entelope.com" target="_blank">Visit Website</a> </li>

</ul>	
</div>

<p>Click the picture for full size.</p>
<br /><br />


<h2>Related Portfolio</h2>

<div class="container">

	<div class="homeBox">

			<div class="one_fourth">

				<a href="../Home/Adoptdog"><div class = "boxImage"><img src ="@Url.Content("~/Content/images/bunner18.jpg")" alt="" width="210" height="150" /></div>	

				<h2>Adopt a dog</h2>	</a>		

				<div class = "boxDescription">Adopt a dog</div>	

			</div>

			<div class="one_fourth">

				<a href="../Home/FinalProject"><div class = "boxImage"><img src ="@Url.Content("~/Content/images/bunner12.jpg")" alt="" width="210" height="150" /></div>	

				<h2>Final Project</h2></a>	

				<div class = "boxDescription">Final Project</div>				

			</div>


			<div class="one_fourth last">

				<a href="../Home/Lcdc"><div class = "boxImage"><img src ="@Url.Content("~/Content/images/bunner14.jpg")" alt="" width="210" height="150" /></div>	

				<h2>Lcdc</h2></a>	

				<div class = "boxDescription">Lcdc</div>			

		</div>	

        </div>
	</div>
    </div>

<p id="back-top">
<a href="#top"><span></span>Back to Top</a>

</div>
</div>







	
		
            
           

				

		

	

		
             
         


	


