@{
    ViewBag.Title = "FinalProject";
}

<div id="wrap">	

<h1 class="flayer">Role: Detabase Website</h1>

<div id="content">

<div class="post">

<div class="postintro">Feb 12<br />2012</div>

<h2>Student Admission System for University</h2>

<br /><br />
           
<a href="@Url.Content("~/Content/images/bunner12.jpg")" rel="lightbox-group1" title="Double click for full size... (unless you have a large monitor)"><img class="headerimage1" src="@Url.Content("~/Content/images/bunner12.jpg")" alt="" width="731" height="450"  /></a>

<a href="@Url.Content("~/Content/images/bunner1.jpg")" rel="lightbox-group1"></a>

<a href="@Url.Content("~/Content/images/bunner16.jpg")" rel="lightbox-group1"></a>

<a href="@Url.Content("~/Content/images/bunner17.jpg")" rel="lightbox-group1"></a>

<a href="@Url.Content("~/Content/images/bunner19.jpg")" rel="lightbox-group1"></a>


<div id="sidebar1">
	
<strong>Completed: May 2012</strong> 
 <br />            
<strong>Description:</strong>
<span>I developed a computerized student admission to 
be fully operational by the student’s in the summer of 2012 to 
the University of Huddersfield. 

This was one of my work in my final year at uni.

</span>
 <br /> <br />        
<strong>Skills used:</strong>

<span>HTML5, CSS, JQUERY, C#, MVC3, ASP.NET, SQL & FIREWORK</span>
    
  <br /> <br />
   	
@*<h2>Click the Link to:</h2>
	
<ul class="link"> 
			
<li><a href="http://entelope.com/Adoptdog/index.htm" target="_blank">Visit Website</a> </li>

</ul>*@	


</div>
<p>Click the picture for full size.</p>
<br /><br />

<h2>Related Portfolio</h2>

<div class="container">

	<div class="homeBox">

			<div class="one_fourth">

				<a href="../Home/Project"><div class = "boxImage"><img src ="@Url.Content("~/Content/images/bunner13.jpg")" alt="" width="210" height="150" /></div>	

				<h2>Project</h2>	</a>		

				<div class = "boxDescription">Project</div>	

			</div>

			<div class="one_fourth">

				<a href="../Home/DogRescue"><div class = "boxImage"><img src ="@Url.Content("~/Content/images/bunner2.jpg")" alt="" width="210" height="150" /></div>	

				<h2>Dog Rescue</h2></a>	

				<div class = "boxDescription">Dog Rescue</div>				

			</div>


			<div class="one_fourth last">

				<a href="../Home/Tujingenji"><div class = "boxImage"><img src ="@Url.Content("~/Content/images/banner8.jpg")" alt="" width="210" height="150" /></div>	

				<h2>Tujingenji</h2></a>	

				<div class = "boxDescription">Tujingenji</div>			

		</div>	

        </div>
	</div>
    </div>

<p id="back-top">
<a href="#top"><span></span>Back to Top</a>

</div>
</div>





	
		
            
        

     
	

	


	
