@{
ViewBag.Title = "Index";
Layout = "~/Views/Shared/_LayoutIndex.cshtml";

}
<div id="wrap">		

<div id="sidebar">

<img src="@Url.Content("~/Content/images/html5.png")" alt="" width="260" height="400"/>	
    
    	
<br /><br />

<h2>Browsers</h2>

<img src="@Url.Content("~/Content/images/browser.png")" alt="" width="260" height="200"/>     
 
    
</div>

<img class="headerimage" src="@Url.Content("~/Content/images/bunner91.gif")" alt="" width="700" height="200"/>
	
<div id="content">

<div class="post">
<div class="postintro">Feb 17<br />2012</div>

<h2>Awesome Projects</h2>
<p>Hey there! Welcome to my online portfolio. 
My name is Jelson J. I'm a Freelance Web Developer & Designer. 
I love creating unique, clean, usable design for the web and other sources. <br /><br />
           
The purpose of this website is to showcase some of my own personal 
freelance work, and to share some of my ideas and thoughts around 
front end development and web design.
                      
</p>
                                          
<h2>Click the project for full size.</h2>
        
 <table>
<tr>
<td><a href="@Url.Content("~/Content/images/gallery1-big.png")" rel="group1"><img src="@Url.Content("~/Content/images/gallery1.png")" alt="" class="frame" /></a></td>
<td><a href="@Url.Content("~/Content/images/gallery2-big.jpg")" rel="group1"><img src="@Url.Content("~/Content/images/gallery2.jpg")" alt="" class="frame" /></a></td>
<td><a href="@Url.Content("~/Content/images/gallery3-big.jpg")" rel="group1"><img src="@Url.Content("~/Content/images/gallery3.jpg")" alt="" class="frame" /></a></td>
<td><a href="@Url.Content("~/Content/images/gallery4-big.jpg")" rel="group1"><img src="@Url.Content("~/Content/images/gallery4.jpg")" alt="" class="frame" /></a></td>             
</tr>
  
<tr>
<td><a href="@Url.Content("~/Content/images/gallery5-big.jpg")" rel="group1"><img src="@Url.Content("~/Content/images/gallery5.jpg")" alt="" class="frame" /></a></td>            
<td><a href="@Url.Content("~/Content/images/gallery8-big.jpg")" rel="group1"><img src="@Url.Content("~/Content/images/gallery8.jpg")" alt="" class="frame" /></a></td>   
<td><a href="@Url.Content("~/Content/images/gallery9-big.jpg")" rel="group1"><img src="@Url.Content("~/Content/images/gallery9.jpg")" alt="" class="frame" /></a></td>   
<td><a href="@Url.Content("~/Content/images/gallery6-big.jpg")" rel="group1"><img src="@Url.Content("~/Content/images/gallery6.jpg")" alt="" class="frame" /></a></td>            
</tr>  

<tr>
<td><a href="@Url.Content("~/Content/images/gallery7-big.png")" rel="group1"><img src="@Url.Content("~/Content/images/gallery7.png")" alt="" class="frame" /></a></td>                                                        
<td><a href="@Url.Content("~/Content/images/gallery10-big.png")" rel="group1"><img src="@Url.Content("~/Content/images/gallery10.png")" alt="" class="frame" /></a></td>   
<td><a href="@Url.Content("~/Content/images/gallery11-big.png")" rel="group1"><img src="@Url.Content("~/Content/images/gallery11.png")" alt="" class="frame" /></a></td>   
<td><a href="@Url.Content("~/Content/images/gallery12-big.png")" rel="group1"><img src="@Url.Content("~/Content/images/gallery12.png")" alt="" class="frame" /></a></td>            
</tr>  

<tr>
<td><a href="@Url.Content("~/Content/images/gallery13-big.jpg")" rel="group1"><img src="@Url.Content("~/Content/images/gallery13.jpg")" alt="" class="frame" /></a></td>                                                        
<td><a href="@Url.Content("~/Content/images/gallery14-big.jpg")" rel="group1"><img src="@Url.Content("~/Content/images/gallery14.jpg")" alt="" class="frame" /></a></td>   
<td><a href="@Url.Content("~/Content/images/gallery15-big.png")" rel="group1"><img src="@Url.Content("~/Content/images/gallery15.png")" alt="" class="frame" /></a></td>   
<td><a href="@Url.Content("~/Content/images/gallery16-big.jpg")" rel="group1"><img src="@Url.Content("~/Content/images/gallery16.jpg")" alt="" class="frame" /></a></td>            
</tr>  


</table>

@*<h2>Flyer Design</h2>

<h2>Work Design</h2>*@
</div>

<p id="back-top">
<a href="#top"><span></span>Back to Top</a>
</p>

 </div>
 </div>	

