@{
    ViewBag.Title = "Lcdc";
}

<div id="wrap">	

<h1 class="flayer">Role: Web Development</h1>

<div id="content">

<div class="post">

<div class="postintro">May 27<br />2012</div>

<h2>Uni Work LCDC</h2>

<br /><br />
           	
<a href="@Url.Content("~/Content/images/bunner14.jpg")" rel="lightbox-group1" title="Double click for full size... (unless you have a large monitor)"><img class="headerimage1" src="@Url.Content("~/Content/images/bunner14.jpg")" alt="" /></a>

<a href="@Url.Content("~/Content/images/bunner23.jpg")" rel="lightbox-group1"></a>

<a href="@Url.Content("~/Content/images/bunner24.jpg")" rel="lightbox-group1"></a>

<a href="@Url.Content("~/Content/images/bunner25.jpg")" rel="lightbox-group1"></a>

<a href="@Url.Content("~/Content/images/bunner26.jpg")" rel="lightbox-group1"></a>
<div id="sidebar1">
	
<strong>Completed:  June 2012</strong> 
  <br />          
<strong>Description:</strong>
<span>This project was developed during my time at 
university.</span>
 <br /> <br />        
<strong>Skills used:</strong>

<span>HTML5, CSS, JQUERY, C#, MVC3, ASP.NET, SQL SERVER, PHOTOSHOP & FIREWORK</span>
    
<br /> <br /> 
  	
@*<h2>Click the Link to:</h2>
	
<ul class="link"> 			
<li><a href="http://entelope.com/Adoptdog/index.htm" target="_blank">Visit Website</a> </li>
</ul>*@
	
</div>

<p>Click the picture for full size.</p>

<br /><br />

<h2>Related Portfolio</h2>

<div class="container">

	<div class="homeBox">

			<div class="one_fourth">

				<a href="../Home/Tujingenji"><div class = "boxImage"><img src ="@Url.Content("~/Content/images/banner8.jpg")" alt="" width="210" height="150" /></div>	

				<h2>Tujingenji</h2>	</a>		

				<div class = "boxDescription">Tujingenji</div>	

			</div>

			<div class="one_fourth">

				<a href="../Home/Nasa"><div class = "boxImage"><img src ="@Url.Content("~/Content/images/bunner3.jpg")" alt="" width="210" height="150" /></div>	

				<h2>Nasa</h2></a>	

				<div class = "boxDescription">Nasa</div>				

			</div>


			<div class="one_fourth last">

				<a href="../Home/Shuddersfield "><div class = "boxImage"><img src ="@Url.Content("~/Content/images/browser-1.png")" alt="" width="210" height="150" /></div>	

				<h2>Shuddersfield </h2></a>	

				<div class = "boxDescription">Shuddersfield </div>			

		</div>	

        </div>
	</div>
    </div>

<p id="back-top">
<a href="#top"><span></span>Back to Top</a>

</div>
</div>

	

	
		
            
   

