@{
    ViewBag.Title = "Nasa";
}

<div id="wrap">		

<h1 class="flayer">Role: Detabase Website</h1>

<div id="content">

<div class="post">

<div class="postintro">Feb 11<br />2013</div>

<h2>Nasa Industrial</h2>

<br /><br />
           	
<a href="@Url.Content("~/Content/images/bunner3.jpg")" rel="lightbox-group1" title="Double click for full size... (unless you have a large monitor)"><img class="headerimage1" src="@Url.Content("~/Content/images/bunner3.jpg")" alt="" /></a>

<a href="@Url.Content("~/Content/images/bunner21.jpg")" rel="lightbox-group1"></a>

<a href="@Url.Content("~/Content/images/bunner22.jpg")" rel="lightbox-group1"></a>

<div id="sidebar1">
	
<strong>Completed:  August 2013</strong> 
  <br />          
<strong>Description:</strong>

<span>This project was developed for a Freelance Web Development for Nasa Industrial.</span>

<br /> <br />  
       
<strong>Skills used:</strong>

<span>HTML5, CSS, JQUERY, C#, MVC3, ASP.NET, SQL SERVER, PHOTOSHOP & FIREWORK</span>
    
<br /> <br /> 
  	
<h2>Click the Link to:</h2>
	
<ul class="link"> 			
<li><a href="http://entelope.com/Nasa" target="_blank">Visit Website</a> </li>
</ul>
	
</div>
<p>Click the picture for full size.</p>
<br /><br />

<h2>Related Portfolio</h2>

<div class="container">

	<div class="homeBox">

			<div class="one_fourth">

				<a href="../Home/Cristovao"><div class = "boxImage"><img src ="@Url.Content("~/Content/images/bunner20.jpg")" alt="" width="210" height="150" /></div>	

				<h2>Cristovao</h2>	</a>		

				<div class = "boxDescription">Cristovao</div>	

			</div>




			<div class="one_fourth last">

				<a href="../Home/Adoptdog""><div class = "boxImage"><img src ="@Url.Content("~/Content/images/bunner18.jpg")" alt="" width="210" height="150" /></div>	

				<h2>Adopt a dog</h2></a>	

				<div class = "boxDescription">Adopt a dog</div>			

		</div>	

        			<div class="one_fourth">

				<a href="../Home/Project"><div class = "boxImage"><img src ="@Url.Content("~/Content/images/bunner13.jpg")" alt="" width="210" height="150" /></div>	

				<h2>Uni Project</h2></a>	

				<div class = "boxDescription">Uni Project</div>				

			</div>



        </div>
	</div>
    </div>

<p id="back-top">
<a href="#top"><span></span>Back to Top</a>

</div>
</div>



	
		
            
       

    




