@{
    ViewBag.Title = "Portifolio";
}

<div id="wrap">		
	
<div id="sidebar">

<img src="@Url.Content("~/Content/images/to-html5.jpg")" width="300" height="600" alt="pat" />
		
<br /><br />


</div>

<img class="headerimage" src="@Url.Content("~/Content/images/bunner.gif")" alt="" width="890" height="200"/>	


<div id="content">
		<div class="post">
			<div class="postintro">June 10<br />2012</div>
            <h2>Web Design & Development Portfolio</h2>
				
            <span>Below you will find some examples of my work as a freelance web designer & developer.  
            Design trends and techniques have changed dramatically since then.  
            However, one thing has not changed and that is the desire to make sure every client walks away satisfied.  
            </span>
 <br />  <br />
       
<h2>A selection of my work, more coming soon!</h2>

<div id="container">

	<ul id="filter">
		<li class="current"><a href="#">All</a></li>
		<li><a href="#">Flyer Design</a></li>
		<li><a href="#">Detabase Website</a></li>
		<li><a href="#">Graphic Design</a></li>
		<li><a href="#">Web Design</a></li>
		<li><a href="#">Logo Design</a></li>
	</ul>


<ul id="portfolio">

<li class="web-design"><a href="../Home/Adoptdog"><img src="@Url.Content("~/Content/images/bunner18.jpg")" alt="" height="115" width="200" />Adoptdog</a></li>

<li class="web-design"><a href="../Home/DogRescue"><img src="@Url.Content("~/Content/images/bunner2.jpg")" alt="" height="115" width="200" />Dog Rescue</a></li>
		
<li class="detabase-website"><a href="../Home/University"><img src="@Url.Content("~/Content/images/bunner6.jpg")" alt="" height="115" width="200" />University</a></li>
		
<li class="detabase-website"><a href="../Home/FinalProject"><img src="@Url.Content("~/Content/images/bunner12.jpg")" alt="" height="115" width="200" />Uni Project</a></li>
		
<li class="detabase-website"><a href="../Home/Project"><img src="@Url.Content("~/Content/images/bunner13.jpg")" alt="" height="115" width="200" />Final Project</a></li>
		
<li class="detabase-website"><a href="../Home/Lcdc"><img src="@Url.Content("~/Content/images/bunner14.jpg")" alt="" height="115" width="200" />Lcdc</a></li>
		
<li class="detabase-website"><a href="../Home/Nasa"><img src="@Url.Content("~/Content/images/bunner3.jpg")" alt="" height="115" width="200" />Nasa</a></li>
		
<li class="web-design"><a href="../Home/Tujingenji"><img src="@Url.Content("~/Content/images/banner8.jpg")" alt="" height="115" width="200" />Tujingenji</a></li>
		
<li class="web-design"><a href="../Home/Cristovao"><img src="@Url.Content("~/Content/images/bunner20.jpg")" alt="" height="115" width="200" />Cristovao</a></li>
		
<li class="detabase-website"><a href="../Home/Entelope"><img src="@Url.Content("~/Content/images/bunner4.png")" alt="" height="115" width="200" />Antelope</a></li>
		
<li class="graphic-design"><a href="../Portfolio/Background"><img src="@Url.Content("~/Content/photo/7.png")" alt="" height="115" width="200" />Background</a></li>
		
<li class="graphic-design logo-design"><a href="../Portfolio/LogoNasa"><img src="@Url.Content("~/Content/photo/4.png")" alt="" height="115" width="200" />Logo Design</a></li>

<li class="graphic-design logo-design"><a href="../Portfolio/LogoDesign"><img src="@Url.Content("~/Content/photo/1.png")" alt="" height="115" width="200" />Logo Design</a></li>

<li class="flyer-design cms integration"><a href="../Portfolio/FlyerEntelope"><img src="@Url.Content("~/Content/photo/2.png")" alt="" height="115" width="200" />Antelope</a></li>

<li class="graphic-design"><a href="../Portfolio/Clock"><img src="@Url.Content("~/Content/photo/3.png")" alt="" height="115" width="200" />Clock</a></li>

<li class="graphic-design logo-design"><a href="../Portfolio/EntelopeLogo"><img src="@Url.Content("~/Content/photo/logo_1.png")" alt="" height="115" width="200" />Antelope Logo</a></li>


<li class="graphic-design logo-design"><a href="../Portfolio/Entelope"><img src="@Url.Content("~/Content/photo/entelope_1.png")" alt="" height="115" width="200" />Antelope</a></li>

<li class="graphic-design logo-design"><a href="../Portfolio/Entel"><img src="@Url.Content("~/Content/photo/entel.png")" alt="" height="115" width="200" />Antelope</a></li>

<li class="detabase-website"><a href="../Home/Shuddersfield"><img src="@Url.Content("~/Content/images/browser-1.png")" alt="" height="115" width="200" />Shuddersfield community centre</a></li>
	

</ul>
</div>
      	

<p id="back-top">
<a href="#top"><span></span>Back to Top</a>
</p>

</div>
</div>
</div>	

