@{
    ViewBag.Title = "Shuddersfield";
}

<div id="wrap">	

<h1 class="flayer">Role: Web Development</h1>

<div id="content">

<div class="post">

<div class="postintro">Mar 27<br />2011</div>

<h2>Shuddersfield community centre</h2>

<br /><br />
           	
<a href="@Url.Content("~/Content/images/browser-1.png")" rel="lightbox-group1" title="Double click for full size... (unless you have a large monitor)"><img class="headerimage1" src="@Url.Content("~/Content/images/browser-1.png")" alt="" /></a>

<a href="@Url.Content("~/Content/images/browser-2.png")" rel="lightbox-group1"></a>

<a href="@Url.Content("~/Content/images/browser-3.png")" rel="lightbox-group1"></a>

<a href="@Url.Content("~/Content/images/browser-4.png")" rel="lightbox-group1"></a>

<a href="@Url.Content("~/Content/images/browser-5.png")" rel="lightbox-group1"></a>

<a href="@Url.Content("~/Content/images/browser-6.png")" rel="lightbox-group1"></a>
<div id="sidebar1">
	
<strong>Completed:  June 2011</strong> 
  <br />          
<strong>Description:</strong>
<span>Academic project this was group work in my second year at 
university my responsibility was to develop the system.
<br />
The purpose of this project was to help the Shudderfield Town Council make 
significant saving across in their services.<br /> <br /> 
</span>
   
<strong>Skills used:</strong>

<span>HTML, CSS, VB.NET, SQL SERVER & FIREWORK</span>
    
<br /> <br /> 
  	
@*<h2>Click the Link to:</h2>
	
<ul class="link"> 			
<li><a href="http://entelope.com/Adoptdog/index.htm" target="_blank">Visit Website</a> </li>
</ul>*@
	
</div>
<p>Click the picture for full size.</p>
<br /><br />

<h2>Related Portfolio</h2>

<div class="container">

	<div class="homeBox">

			<div class="one_fourth">

				<a href="../Home/Tujingenji"><div class = "boxImage"><img src ="@Url.Content("~/Content/images/banner8.jpg")" alt="" width="210" height="150" /></div>	

				<h2>Tujingenji</h2>	</a>		

				<div class = "boxDescription">Tujingenji</div>	

			</div>

			<div class="one_fourth">

				<a href="../Home/Nasa"><div class = "boxImage"><img src ="@Url.Content("~/Content/images/bunner3.jpg")" alt="" width="210" height="150" /></div>	

				<h2>Nasa</h2></a>	

				<div class = "boxDescription">Nasa</div>				

			</div>


			<div class="one_fourth last">

				<a href="../Home/FinalProject"><div class = "boxImage"><img src ="@Url.Content("~/Content/images/bunner12.jpg")" alt="" width="210" height="150" /></div>	

				<h2>Final Project</h2></a>	

				<div class = "boxDescription">Final Project</div>			

		</div>	

        </div>
	</div>
    </div>

<p id="back-top">
<a href="#top"><span></span>Back to Top</a>

</div>
</div>

