@{
    ViewBag.Title = "Tujingenji";
}

<div id="wrap">	

<h1 class="flayer">Role: Web Design</h1>

<div id="content">

<div class="post">

<div class="postintro">Aug 25<br />2013</div>

<h2>Group Theatre Tujingenji</h2>

<br /><br />
           	
<a href="@Url.Content("~/Content/images/banner8.jpg")" rel="lightbox" title="Double click for full size... (unless you have a large monitor)"><img class="headerimage1" src="@Url.Content("~/Content/images/banner8.jpg")" alt="" /></a>

<div id="sidebar1">
	
<strong>Ongoing:  Sptember 2013</strong> 
<br />             
<strong>Description:</strong>
<span>This project still in the development process 
and requires a simple information with design part from the client.</span>
 <br /> <br />        
<strong>Skills used:</strong>

<span>XHTML, CSS, JQUERY, JAVASCRIPT, PHOTOSHOP & FIREWORK</span>
    
  <br /> <br /> 	
<h2>Click the Link to:</h2>
	
<ul class="link"> 
			
<li><a href="http://entelope.com/Tujingenji/" target="_blank">Visit Website</a> </li>

</ul>	
</div>

<br /><br />

<h2>Related Portfolio</h2>

<div class="container">

	<div class="homeBox">

			<div class="one_fourth">

				<a href="../Home/University"><div class = "boxImage"><img src ="@Url.Content("~/Content/images/bunner6.jpg")" alt="" width="210" height="150" /></div>	

				<h2>University</h2>	</a>		

				<div class = "boxDescription">Lorem ipsum laoreet</div>	

			</div>

			<div class="one_fourth">

				<a href="../Home/DogRescue"><div class = "boxImage"><img src ="@Url.Content("~/Content/images/bunner2.jpg")" alt="" width="210" height="150" /></div>	

				<h2>Dog Rescue</h2></a>	

				<div class = "boxDescription"></div>				

			</div>


			<div class="one_fourth last">

				<a href="../Home/Entelope"><div class = "boxImage"><img src ="@Url.Content("~/Content/images/bunner4.jpg")" alt="" width="210" height="150" /></div>	

				<h2>Antelope</h2></a>	

				<div class = "boxDescription"></div>			

		</div>	

        </div>
	</div>
    </div>

<p id="back-top">
<a href="#top"><span></span>Back to Top</a>

</div>
</div>



