@{
    ViewBag.Title = "University";
}


<div id="wrap">	

<h1 class="flayer">Role: Detabase Website</h1>

<div id="content">

<div class="post">

<div class="postintro">Jan 17<br />2012</div>

<h2>Webiste With Database for University Project</h2>

<br /><br />
           	

<a href="@Url.Content("~/Content/images/bunner6.jpg")" rel="lightbox-group1" title="Double click for full size... (unless you have a large monitor)"><img class="headerimage1" src="@Url.Content("~/Content/images/bunner6.jpg")" alt="" /></a>

<a href="@Url.Content("~/Content/images/bunner7.jpg")" rel="lightbox-group1"></a>

<a href="@Url.Content("~/Content/images/bunner9.jpg")" rel="lightbox-group1"></a>

<a href="@Url.Content("~/Content/images/bunner11.jpg")" rel="lightbox-group1"></a>

<a href="@Url.Content("~/Content/images/bunner10.jpg")" rel="lightbox-group1"></a>

<div id="sidebar1">
	
<strong>Completed:  Sptember 2009</strong> 
            
<strong>Description:</strong>
<span>This project was developed during my time at 
university.</span>
 <br /> <br />        
<strong>Skills used:</strong>

<span>HTML5, CSS, JQUERY, AJAX, C#, MVC3, ASP.NET, FIREWORK & SQL SERVER</span>
    
<br /> <br /> 
  	
@*<h2>Click the Link to:</h2>
	
<ul class="link"> 
			
<li><a href="http://entelope.com/Adoptdog/index.htm" target="_blank">Visit Website</a> </li>

</ul>*@
	
</div>

<p>Click the picture for full size.</p>

<br /><br />

<h2>Related Portfolio</h2>

<div class="container">

	<div class="homeBox">

			<div class="one_fourth">

				<a href="../Home/Nasa"><div class = "boxImage"><img src ="@Url.Content("~/Content/images/bunner3.jpg")" alt="" width="210" height="150" /></div>	

				<h2>Nasa</h2>	</a>		

				<div class = "boxDescription">Nasa</div>	

			</div>

			<div class="one_fourth">

				<a href="../Home/Adoptdog"><div class = "boxImage"><img src ="@Url.Content("~/Content/images/bunner18.jpg")" alt="" width="210" height="150" /></div>	

				<h2>Adopt a dog</h2></a>	

				<div class = "boxDescription">Adopt a dog</div>				

			</div>


			<div class="one_fourth last">

				<a href="../Home/Project"><div class = "boxImage"><img src ="@Url.Content("~/Content/images/bunner13.jpg")" alt="" width="210" height="150" /></div>	

				<h2>Uni Project</h2>Uni Project</a>	

				<div class = "boxDescription"></div>			

		</div>	

        </div>
	</div>
    </div>

<p id="back-top">
<a href="#top"><span></span>Back to Top</a>

</div>
</div>

	

            
        

        
					
	
		

	
			
		
  
            
 
 

            


